@import "tailwindcss";

@theme {
  --font-display: var(--font-playfair);
  --font-body: var(--font-inter);

  --color-primary: #3d2817;
  --color-main-bg: #f3ead8;
  --color-body-text: #4a3b2a;
  --color-heading-text: #4a3b2a;
  --color-btn-bg: #3d2817;
  --color-btn-text: #f3ead8;
  --color-announcement-bg: #da3f3f;
  --color-border: #e0d5c7;
}




body {
  background-color: var(--color-main-bg);
  color: var(--color-body-text);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  color: var(--color-heading-text);
}